<br>
<div class="contenedor">

  <div class="first">E</div>
  <div class="title"> xperiencia Laboral

  </div>

  <br>
  <br>


  <div class="experiencia1-persona mt-4">
    <h2>ARREGLO Y MANTENIMIENTO PC</h2>
    <br>
    Formateo, recuperación de datos,
    mantenimiento
    y
    limpieza de hadware, instalación de
    modem y servicios de internet, instalación de Windows, drivers y programas a elección.
  </div>

  <div class="experiencia2-persona mt-4">
    <h2>FREE-LANCER</h2>

    Maquetación y diseño web.
    (HTML5, CSS3)
  </div>

  <hr>


  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <hr>
