<br>
<div class="row">
  <p class="title"> Experiencia Laboral </p>

  <br>
  <br>

  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <div class="experiencia-1">
      <h2>{{experiencia.nombre}} ARREGLO Y MANTENIMIENTO PC</h2>
      <br><br>{{experiencia.descripcion}} {{experiencia.periodo}}
      Formateo, recuperación de datos,
      mantenimiento
      y
      limpieza de hadware, instalación de
      modem y servicios de internet, instalación de Windows, drivers y programas a elección.
    </div>
    <br>
    <div class="experiencia-2">
      <h2>FREE-LANCER</h2>

      <br><br>Maquetación y diseño web.
      (HTML5, CSS3)
    </div>
  </div>
  <div class="col-lg-1"></div>
  <hr>
