<div class="row">
  <div class="col-lg-12">
    <div class="menu">
      <div class="title">Argentina Programa - #YoProgramo</div>
      <div class="social">
        <img src="./assets/argentina-programa-logo.png" alt="logo-AP" class="logo">
        <a href="https://www.instagram.com/_joaquinvx/?hl=es-la" target="_blank">
          <img src="./assets/instagram.png" alt="instagram" class="inst"></a>
        <a href="https://www.facebook.com/joaquiolvi" target="_blank">
          <img src="./assets/facebook.png" alt="facebook" class="fbook"></a>
      </div>
      <button type="button" class="btn btn-outline-success" id="btn" (click)="login()">Ingresar</button>
    </div>
  </div>
</div>
