.info-personal {
  position: relative;
  top: 30px;
  left: 250px;
}

.nombre {
  color: whitesmoke;
  font-size: 40px;
}

.info-localidad {
  color: antiquewhite;
}

.text-titulo {
  color: antiquewhite;
}

.profile-photo {
  position: absolute;
  left: 160px;
  top: 520px;
  border-radius: 50%;
  width: 185px;
  height: 190px;
}

.text-sobremi {
  position: relative;
  padding: 20px;
  width: 450px;
  color: whitesmoke;
}

.title {
  position: relative;
  display: inline;
  top: 15px;
  left: 20px;
  font-size: medium;
  color: blanchedalmond;
}

#add-button {
  position: relative;
  left: 340px;
  bottom: 40px;
}
#edit-button,
#delete-button {
  margin: 4px;
}
