<!-- IMAGEN DE PERFIL ↓ -->
<img src="../../../assets/profile-img.png" alt="profile-picture" class="profile-photo">

<div class="info-personal">
  <!-- NOMBRE Y APELLIDO ↓ -->
  <p class="nombre"> {{persona.nombre}} {{persona.apellido}} Joaquin Viarruel
  <p>

    <!-- LOCALIDAD ↓ -->
  <div class="info-localidad"> {{persona.domicilio}}San Luis, Argentina</div>

  <!-- TITULO ↓ -->
  <div class="text-titulo"> {{persona.titulo}} Desarrollo Web -
    <a href="">Información de contacto</a>
  </div>

  <!-- SOBRE MÍ ↓ -->
  <div class="text-sobremi"> {{persona.sobremi}}</div>
</div>


<br><br>

<button type="button" class="btn btn-primary" id="interes-en">Tengo interes en</button>


<hr>
