<br>
<div class="row">
  <p class="title"> Educación </p>

  <br>
  <br>

  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <div class="estudios-1">
      <h2>Gobernador Alvarez</h2><br><br>
      <p>Estudio Primario</p>
    </div>
    <br>

    <div class="estudios-3">
      <h2>Cristo Redentor</h2> <br><br>
      <p>Estudio Secundario</p>
    </div>
    <br>
    <div class="cursos">
      <img src="{{estudios.urlLogo}}" alt="">
      <h2>{{estudios.casaEstudios}} Argentina Programa</h2><br><br>
      <p>{{estudios.tituloEstudios}} Full Stack Developer Jr. - {{estudios.periodo}}</p>
    </div>
  </div>
</div>
<div class="col-lg-1"></div>
<hr>
